/* app css stylesheet */

body {
    color: #2a2a2a;
    background: #fafafa;
}

p {
    margin: 25px 0px 25px;
}

a:active, a:hover, a:visited {
    text-decoration: none;
}

.container {
    margin-top: 50px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #e6e6e6;
}
.angular_logo {
    display: inline-block;
    width: 100%;
    margin: 25px 0px 25px;
}
h1 {
    display: inline-block;
    margin: 0;
    line-height: 68px;
    font-size: 30px;
    padding-left: 15px;
}
.angular_logo:before {
    background-image: url(imgs/AngularJS.png);
    width: 68px;
    height: 68px;
    margin-left: 15px;
    background-size: contain;
    content: "";
    float: left;
}

.nav_bar_fix {
    margin-bottom: 25px;
}

#menubar_container {
    display: inline-block;
    position: absolute;
    z-index: 100;
    width: 100%;
}
md-content-background-fix {
    background: #FFFFFF !important;
}

md-content.md-default-theme, md-content {
    background-color: #ffffff !important;
}

.beer-card {
    display: inline-block;
    max-width: 50%;
}
.beer-card-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.todo-label {
    display: inline-block;
    float: left;
}
.priority-label {
    display: inline-block;
    float: left;
    margin-left: 25px;
    border: solid 1px #e0e0e0;
    background-color: #fafafa;
    color: #353535;
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 18px;
    font-style: italic;
}


